include README.rst CHEATSHEET.rst LICENSE* CODE_OF_CONDUCT* CONTRIBUTING*
include .coveragerc .style.yapf
include test-requirements.txt
recursive-include docs *
recursive-include asyncbleach/_tests/example_pkg *
prune docs/build
